node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env
.env.backup
.env.production
.env.local
*.env
!.env.example
vendor/
/public/hot
/public/storage
/public/build
.phpunit.result.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/database/*.sqlite
/database/*.sqlite-journal
/storage/framework/testing
storage/*.key
storage/oauth-*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/framework/cache/data/.gitignore
.vercel

